# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
Debug/
Release/
x64/
x86/
build/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled files
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll

# OS files
.DS_Store
Thumbs.db